body{margin: 0px;
    padding: 0px;
    }
    .Whatsappbutton.Whatsapp{
      visibility: visible;
      Transition: opacity 2s;
       }
  
  
       .Whatsappbutton a{  
        color: #1d5522;
        text-decoration: none  
      }
    .Whatsappbutton{      
  visibility: hidden;
         backdrop-filter: blur(10px);
      box-shadow: 0 0px 1px 1px #1d5522;
      font-size:4.4vh;
       z-index: 5;
      position: fixed;
            background-color: rgba(0, 0, 0, 0);
            border: none;
  
            color:        #1d5522;
            
            border-radius: 200px;
      padding-left: 10px;
      padding-right: 9px;
      padding-top: 5px;
      padding-bottom: 5px;
            bottom: 30px;
            left: 2vh;
    }
    .whatsappbutton:hover{
      transition: 0.3s;
      box-shadow: 0 0px 35px 10px #1d5522;
    }
  .pc{
    display: none;
  } 
  .window{
      position: absolute;
      width: 100%;
      height: 100vh;
      opacity: 20%;
  }
    .KIT-SECTION-1{
     height: 5vh;

    }
   
    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }

    }
   
   
    .KIT-header{
      box-shadow: 0px 0px 30px 3px #00000059;
        z-index: 4;
      animation: 0.4s ease-out 0s 1 slideInFromLeft;
      direction: rtl;
    align-items: center;
      justify-content: space-between;
      background-color: #fff;
      height: 65px;
position: fixed;
      top: 0;
      width: 100%;
    }
    .LOGO{
      padding-bottom: 10px;
       padding-right: 10px;
       padding-top: 10px;
        width: 140px;
    }
    
    
  
.menu-icon{
  z-index: 5;
  opacity: 90%;
  width: 36px;

  position: fixed;
  top: 0;
  left: 20px;
  height: 14px;
  top: 29px;
  cursor: pointer;
    }

.close-icon{
  width: 18px;
  position: absolute;
  left: 30px;
  top: 30px;
cursor: pointer;
}

.padded-text{
  padding-top: 60px;
}
    .MENU1 ul li{
      scroll-snap-align: START;
      z-index: 1;
        list-style: none;
text-align: center;
padding-right: 10%;
padding-top: 20%;  }

    .MENU1 ul li a{
        font-family: 'Cairo';
        list-style: none;
text-decoration: none;
font-size: 23PX;
color: #FFF; 
    }
 
    .MENU1{
      box-shadow: inset 0px -50vh 100px -30px  #020b1696;
    overflow-y: auto;
     transition: 1s;
        position: fixed;
        backdrop-filter: blur(20px);

        width: 100%;
        height: 100%;
        background: #020b16c7;
        z-index: 6;
        top: -100%;
    }
 
  .shade2{
    z-index: -3;
position: fixed;
    width: 80%;
 opacity: 20%;
left: 0px;
top: 25px;

  }
  
  
   .KIT-SECTION-8{
    height: 30EM;
    padding-top: 40px;
    direction: rtl;
  }
  .KIT-SECTION-8 a{text-decoration: none;}
  .KIT-SECTION-8 img{
    padding-bottom: 70px;
     padding-right: 15px;
     padding-top: 10px;
      width: 140px;
}
  .footer-link-1{
    padding-right: 15px;
   padding-left: 10px;
   margin-top: 0px;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 22px;
    direction: rtl;   
  }
  .footer-link-2{
    padding-right: 15px;
    padding-top: 10px;
   padding-left: 10px;
   margin-top: 0px;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 22px;
    direction: rtl;   
  }
  .footer-link-3{
    padding-right: 15px;
   padding-left: 10px;
   padding-top: 10px;
   margin-top: 0px;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 22px;
    direction: rtl;   
  }
  .footer-link-4{
    padding-right: 15px;
   padding-left: 10px;
   padding-top: 10px;
   margin-top: 0px;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 22px;
    direction: rtl;   
  }
  .footer-link-5{
    padding-right: 15px;
   padding-left: 10px;
   padding-top: 10px;
   margin-top: 0px;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 22px;
    direction: rtl;   
  }
  .footer-link-6{
    padding-right: 15px;
   padding-left: 10px;
   padding-top: 10px;
   margin-top: 0px;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 22px;
    direction: rtl;   
  }
  .footer-link-7{
    padding-right: 15px;
   padding-left: 10px;
   padding-top: 10px;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 22px;
    direction: rtl;   
    padding-bottom: 70px;
  }
 .footer-trademark{
  padding-right: 15px;
  padding-left: 10px;
   color: #060e19;
   font-weight: 500;
   font-family: 'Cairo';
   font-size: 15px;
  direction: ltr;

 }
 .footer-trademark2{
  padding-right: 15px;
  padding-left: 10px;
   color: #060e19;
   font-weight: 500;
   font-family: 'Cairo';
   font-size: 15px;
direction: ltr; 
padding-bottom: 60px;

 }
 .social-media-footer{
  align-items: center;
  color: #060e19;
  text-align: center;
  font-size: 27px;
  padding-bottom: 40px;
  padding-top: 0px;
 }
 .social-media-footer i{
  padding-right: 8px;
 }


 

 

 .KIT-SECTION-2{
    
  height: 200px;
 }
.choose-your-coarse{
  animation: 0.4s ease-out 0s 1 slideInFromLeft;
  padding-top: 20%;
text-align: center;
  position: flex;
}
.choose-your-coarse h1{
  color:  #0a2003;
  font-weight: 300;
  font-family: 'Cairo';
  font-size: 26px;
  direction: rtl;
}




.courses-container{
  padding-bottom: 6vh;
}

.course {

  font-family: 'Cairo';
  margin-right: 10px;
  text-align: right;
	background-color: rgba(91, 255, 91, 0.082);
	border-radius: 30px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.137);

	display: flex;

	width: calc(100% - 10px);
}

.course h2 {
  padding-bottom: 60PX;
  float: right;
  font-weight: 500;
  font-size: 20px;
word-spacing: 0.5px;
	margin: 20px 0px;

}

.course h6 {
  float: right;
  font-size: 12px;
	opacity: 0.6;
	margin: 0;
font-weight: 100;
	text-transform: uppercase;
  letter-spacing: 1px;
}

.course-preview {
width: 300px;
  background:radial-gradient( 
       
        #000000,
        #1d5522,
        #060e19
        ) fixed;
	color: #fff;
	padding: 30px;

}

.course-preview a {
  
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 10px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 18px;
	right: 7vh;
	text-align: left;
	width: 50%;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 8px;
	width: 100%;
}

.progress::after {

	border-radius: 3px;
  background: radial-gradient( 
       
        #000000,
        #1d5522,
        #060e19
        ) fixed;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 8px;
	width: 50%;
}

.btn {
  font-family: 'Cairo';
  background:radial-gradient( 
       
    #000000,
    #1d5522,
    #060e19
    ) fixed;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 35px;
	position: absolute;
	bottom: 30px;
	right: 20px;

}

