body{margin: 0px;
    padding: 0px;
    }
   
  .pc{
    display: none;
  } 

    .KIT-SECTION-1{
     height: 400vh;
box-shadow: 0px 0px 30px 10px #000000c0;
background:linear-gradient( 
    #464646, 
    #272727
  ) fixed;
  transition: 1s;
    }
   
    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }

    }
   
    .english-button{
      margin-top: 110px;

        border-radius: 30PX;
        width: 30PX;
        height: 30PX;
text-decoration: none;
      background-color: #ffffff9f;
      position: absolute;
      z-index: 1;
      transition: 0.3s;
    }
    .english-button:hover{  margin-left: -25px; 
      background-color: #00ff6a56;}

    .language-button{
position: absolute;
margin-top: 94px;
margin-left: 10px;
width: 27PX;
        direction: ltr;
          color: #ffffff;
          background-color: #0000003d;
        border-radius: 30px;
padding-left: 10px;
padding-right: 15px;
padding-top: 4px;
padding-bottom: 4px;
 font-family: 'Cairo';
 font-size: 10px;
    }
  
   

    .KIT-header{
      box-shadow: 0px 0px 30px 3px #00000059;
        z-index: 4;
      animation: 0.4s ease-out 0s 1 slideInFromLeft;
      direction: rtl;
    align-items: center;
      justify-content: space-between;
      background-color: #fff;
      height: 65px;
position: fixed;
      top: 0;
      width: 100%;
    }
    .LOGO{
      padding-bottom: 10px;
       padding-right: 10px;
       padding-top: 10px;
        width: 140px;
    }
    
    .shade{
margin-top: -49vh;
margin-left: -4vh;
position: absolute;
opacity: 2%;
width: 340px;
    } 
  
.menu-icon{
  z-index: 5;
  opacity: 90%;
  width: 36px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 20px;
  height: 14px;
  top: 29px;
  cursor: pointer;
    }

.close-icon{
  width: 18px;
  position: absolute;
  left: 30px;
  top: 30px;
cursor: pointer;
}

.padded-text{
  padding-top: 60px;
}
    .MENU1 ul li{
      scroll-snap-align: START;
      z-index: 1;
        list-style: none;
text-align: center;
padding-right: 10%;
padding-top: 15%;  }

    .MENU1 ul li a{
        font-family: 'Cairo';
        list-style: none;
text-decoration: none;
font-size: 23PX;
color: #FFF; 
    }
    .MENU1 ul li a::after{

        position: absolute;
        content: '';
        padding-left: 30px;
        width: 0%;
        bottom: 0px;
        left: 0px;
        transition: 0.2s;
    }
    .MENU1 ul li a:hover::after{
        box-shadow: 1px -40px 150px 50px #ffffff50;
        width: 100%;
    }
    .back-menu{
      width: 100%;
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #020b16;
      z-index: -3;
      opacity: 6%;
      height: 100%;
    }
    .MENU1{
   
    overflow-y: auto;
     transition: 1s;
        position: fixed;
        
        width: 100%;
        height: 100%;
        background: #020b16;
        z-index: 6;
        top: -100%;
    }
    .title{
      text-align: right;
      margin-top: 15vh;
padding-right: 2vh;
      font-family: 'Cairo';
      font-size: 3.5vh;
      font-weight:500;
      color:  #0a182a;
    }
.courses-all{
    padding-top: 3vh;
}
.course{
    background-color: rgb(255, 255, 255);
    height: 30vh;
    border-radius: 0px 0px 0px 70px;
    text-align: right;
}
.course h1{
    padding-right: 3vh;
 padding-top: 5vh;
    font-family: 'Cairo';
    font-size: 3.5vh;
    font-weight:500;
    color:  #0a182a;
}
.course h2{
    padding-right: 3vh;
    font-family: 'Tajawal', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    color:  #0a182a;
}
.course h3{
  position: absolute;
  z-index: 1;
   padding: 2.8vh;
        font-size: 1.4vh;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    color:  #ffffff;
    padding-left: 30.22vh;
    padding-right: 10vh;
    margin-left: 0.1vh;
    margin-top: 50vw;
background-color: rgb(57, 100, 67);
border-radius: 0px 0px 0px 90px;
}
.course a{ 
   
 
}
.course img{
    position: absolute;
    opacity: 30%;
 right: 0px;
 z-index: 0;
 border-radius: 0px 0px 0px 70px;
    width: 45.8vh;
    height: 29.6vh;
}
















    

    .KIT-SECTION-8{
      height: 30EM;
      padding-top: 40px;
      direction: rtl;
    }
    .KIT-SECTION-8 a{text-decoration: none;}
    .KIT-SECTION-8 img{
      padding-bottom: 70px;
       padding-right: 15px;
       padding-top: 10px;
        width: 140px;
}
    .footer-link-1{
      padding-right: 15px;
     padding-left: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-2{
      padding-right: 15px;
      padding-top: 10px;
     padding-left: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-3{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-4{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-5{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-6{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-7{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
      padding-bottom: 70px;
    }
   .footer-trademark{
    padding-right: 15px;
    padding-left: 10px;
     color: #060e19;
     font-weight: 500;
     font-family: 'Cairo';
     font-size: 15px;
    direction: ltr;
  
   }
   .footer-trademark2{
    padding-right: 15px;
    padding-left: 10px;
     color: #060e19;
     font-weight: 500;
     font-family: 'Cairo';
     font-size: 15px;
direction: ltr; 
 padding-bottom: 60px;

   }
   .social-media-footer{
    align-items: center;
    color: #060e19;
    text-align: center;
    font-size: 27px;
    padding-bottom: 40px;
    padding-top: 0px;
   }
   .social-media-footer i{
    padding-right: 8px;
   }
  

   

   

   



