body{margin: 0px;
    padding: 0px;
    }
   html{
    scroll-behavior: smooth;
   }
  .pc{
    display: none;
  } 
  
  @keyframes slideInFromLeft {
    0% {
      
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }

  }
  .window{
    animation: 0.4s ease-out 0s 1 slideInFromLeft;
      position: absolute;

      width: 100%;
      height: 100vh;
      opacity: 20%;
      z-index: 1;
  }
  .Whatsappbutton.Whatsapp{
    visibility: visible;
    Transition: opacity 2s;
     }


     .Whatsappbutton a{  
      color: #1d5522;
      text-decoration: none  
    }
  .Whatsappbutton{      
visibility: hidden;
       backdrop-filter: blur(10px);
    box-shadow: 0 0px 1px 1px #1d5522;
    font-size:4.4vh;
     z-index: 5;
    position: fixed;
          background-color: rgba(0, 0, 0, 0);
          border: none;

          color:        #1d5522;
          
          border-radius: 200px;
    padding-left: 10px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
          bottom: 30px;
          left: 2vh;
  }
  .whatsappbutton:hover{
    transition: 0.3s;
    box-shadow: 0 0px 35px 10px #1d5522;
  }
    .KIT-SECTION-1{
      z-index: 1;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
     height: 100vh;
box-shadow: 0px 0px 30px 10px #000000c0;
background:linear-gradient( 
    #006128, 
    #060e19
  ) fixed;
  transition: 1s;
    }
  
    .english-button{
      display: none;
      animation: 0.4s ease-out 0s 1 slideInFromLeft;
      margin-top: 110px;

        border-radius: 30PX;
        width: 30PX;
        height: 30PX;
text-decoration: none;
      background-color: #ffffff9f;
      position: absolute;
      z-index: 1;
      transition: 0.3s;
    }
    .english-button:hover{  margin-left: -25px; 
      background-color: #00ff6a56;}

    .language-button{
      display: none;
position: absolute;
margin-top: 94px;
margin-left: 10px;
width: 27PX;
        direction: ltr;
          color: #ffffff;
          background-color: #0000003d;
        border-radius: 30px;
padding-left: 10px;
padding-right: 15px;
padding-top: 4px;
padding-bottom: 4px;
 font-family: 'Cairo';
 font-size: 10px;
    }
  
   @keyframes scroll{
    0%{
transform: translateY(0%);
opacity: 40%;
    }
    100%{
      transform: translateY(55%);
      opacity: 0%;
    }
   }



.marquee{
  animation: 0.4s ease-out 0s 1 slideInFromLeft;
backdrop-filter: blur(10px);
  overflow: hidden;
  white-space: nowrap;
            display: block;
        width: 100%;
     

top: 11vh;
position: sticky;
        background-color: #ffffff71;

}

 .marquee div{
  font-weight:lighter;
  word-spacing: 5px;
  color: rgb(0, 20, 5);
  font-size:12px ;
  font-family: 'Cairo';
        padding-left: 100%;
          display: inline-block;
animation: marquee 11s reverse linear infinite;    

      }
      @keyframes marquee{
        100%{
          transform: translate(-100%,0);
        }
        }


.scroll-down{

  animation: infinite 1.7s ease-out 0s scroll;
opacity: 40%;
position: absolute;
padding: 20px;
padding-top: 40px;
  z-index: 2;
right: 50%;
margin-right: -50px;
  width: 50px;
  align-items: center;
  bottom: 7vh;
}
    .KIT-header{
      box-shadow: 0px 0px 30px 3px #00000059;
        z-index: 4;
      animation: 0.4s ease-out 0s 1 slideInFromLeft;
      direction: rtl;
    align-items: center;
      justify-content: space-between;
      background-color: #fff;
      height: 65px;
position: fixed;
      top: 0;
      width: 100%;
    }
    .LOGO{
      padding-bottom: 10px;
       padding-right: 10px;
       padding-top: 10px;
        width: 140px;
    }
    
    .shade{
margin-top: -49vh;
margin-left: -4vh;
position: absolute;
opacity: 2%;
width: 340px;
    } 
  
  
.menu-icon{
  z-index: 5;
  opacity: 90%;
  width: 36px;

  position: fixed;
  top: 0;
  left: 20px;
  height: 14px;
  top: 29px;
  cursor: pointer;
    }
.close-icon{
  width: 18px;
  position: absolute;
  left: 30px;
  top: 30px;
cursor: pointer;
}

.padded-text{
  padding-top: 60px;
}

    .MENU1 ul li{
      scroll-snap-align: START;
      z-index: 1;
        list-style: none;
text-align: center;
padding-right: 10%;
padding-top: 20%;  }

    .MENU1 ul li a{
        font-family: 'Cairo';
        list-style: none;
text-decoration: none;
font-size: 23PX;
color: #FFF; 
    }
 
    .MENU1{
   
    overflow-y: auto;
     transition: 1s;
        position: fixed;
        backdrop-filter: blur(20px);
        box-shadow: inset 0px -50vh 100px -30px  #020b1696;
        width: 100%;
        height: 100%;
        background: #020b16c7;
        z-index: 6;
        top: -100%;
    }
    .KIT-H1{

margin-top: 23vh;
    padding-right: 30px;
    padding-left: 20px;
    animation: 0.4s ease-out 0s 1 slideInFromLeft;
    }
   .KIT-H1 h1{
    
    color: #FFF;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 4.5vh;
    direction: rtl;
    line-height: 60px;
   }
   .KIT-H1 h2{
    
    color: #FFF;
    font-weight: 100;
font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    line-height: 23px;
    direction: rtl;
    padding-left: 10px;
   }




   .KIT-SECTION-2{
    
    height: 100em;
   }
  .choose-your-coarse{
    padding-top: 30%;
    padding-right: 16px;
    padding-bottom: 20px;
    position: flex;
  }
  .choose-your-coarse h1{
    color:  #0a182a;
    font-weight: 600;
    font-family: 'Cairo';
    font-size: 26px;
    direction: rtl;
  }

  .coarse-box1{
    scroll-snap-align: center;
  }
  .coarse-box2{
    scroll-snap-align: center;
  }
  .coarse-box3{
    scroll-snap-align: center;

  }
  .COARSE-WRAPPER1{
    padding-left: 24px;
    display: flex;
     scroll-snap-type: x proximity;
    overflow-x: auto;
    direction: rtl;
  }
  .KIT-WRAPPER1-BOX{
    border-radius: 30px 0px 20px 20px;
    min-width: 230px;
    height: 440px;
    background-color: rgba(153, 153, 153, 0.064);
    backdrop-filter: blur(20px);
    margin-right:24px ;
  }
  .coarse-box1 h1{
    font-family: 'Cairo';
    font-weight: 500;
    padding-right: 14px;
    text-align: right;
    color:  #0a182a;
  }
  .coarse-box1 h2{
    margin-top: -8px;
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-right: 14px;
    text-align: right;
    color:  #0a182a;
  }
  .coarse-box1 h3{
  
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    font-weight: 500;
  text-align: left;
margin-top:135px ;
  margin-left: 24px;
    color:  #0a182a;
  }
  .coarse-box1 h4{
    font-family: 'Tajawal', sans-serif;
    font-size: 10px;
    font-weight: 500;
  margin-top: -6.7%;
  padding-right: 50%;
    color:  #0a182a;
  }
  .coarse-box1 h5{
    font-family: 'Tajawal', sans-serif;
    font-size: 10px;
    font-weight: 500;
padding-right: 21px;
margin-top: -2px;
padding-left: 10px;
    color:  #0a182a;
  }
  .coarse-box1 a{
   text-decoration: underline;
   color:  #0a182a;
  }
  .coarse-box1 img{
    border-radius: 30px 0px 30px 0px;
width: 230px;
height: 130px;
  }
  
  .coarse-box2 h1{
    padding-right: 14px;
    font-family: 'Cairo';
    font-weight: 500;
    right: 0px;
position: flex;
    text-align: right;
    color:  #0a182a;
  }
  .coarse-box2 h2{
    margin-top: -8px;
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-right: 14px;
    text-align: right;
    color:  #0a182a;
  }
  .coarse-box2 h3{
  
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    font-weight: 500;
  text-align: left;
margin-top:135px ;
  margin-left: 24px;
    color:  #0a182a;
  }
  .coarse-box2 h4{
    font-family: 'Tajawal', sans-serif;
    font-size: 10px;
    font-weight: 500;
  margin-top: -6.7%;
  padding-right: 50%;
    color:  #0a182a;
  }
  .coarse-box2 h5{
    font-family: 'Tajawal', sans-serif;
    font-size: 10px;
    font-weight: 500;
padding-right: 26px;
margin-top: -2px;
padding-left: 10px;
    color:  #0a182a;
  }
  .coarse-box2 a{
   text-decoration: underline;
   color:  #0a182a;
  }
  .coarse-box2 img{
    border-radius: 30px 0px 30px 0px;
width: 230px;
height: 130px;
  }
  .coarse-box3 h1{
    padding-right: 14px;
    text-align: center;
    font-family: 'Cairo';
    font-weight: 500;
    right: 0px;
position: flex;
    text-align: right;
    color:  #0a182a;
  }
  .coarse-box3 h2{
    margin-top: -8px;
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-right: 14px;
    text-align: right;
    color:  #0a182a;
  }
  .coarse-box3 h3{
  
  
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    font-weight: 500;
  text-align: left;
margin-top:135px ;
  margin-left: 24px;
    color:  #0a182a;
  }
  .coarse-box3 h4{
    font-family: 'Tajawal', sans-serif;
    font-size: 10px;
    font-weight: 500;
  margin-top: -6.7%;
  padding-right: 50%;
    color:  #0a182a;
  }
  .coarse-box3 h5{
    font-family: 'Tajawal', sans-serif;
    font-size: 10px;
    font-weight: 500;
padding-right: 21px;
margin-top: -2px;
padding-left: 10px;
    color:  #0a182a;
  }
  .coarse-box3 a{
   text-decoration: underline;
   color:  #0a182a;
  }
  
  .coarse-box3 img{
    border-radius: 30px 0px 30px 0px;
width: 230px;
height: 130px;
  }
  .stars{
    color: #1c8a25;
    font-size: 13px;
    margin-top: -115px;
  padding-right: 20px;
  }
  .more-coarses{
    scroll-snap-align: center;
    padding-top: 30%;
direction: rtl;
    padding-bottom: 20px;
    position: flex;
    min-width: 160px;
    padding-right:40px;
    padding-left: 10px;
    text-align: center;
    margin-top: 50px;
  }
  .more-coarses h1{
    
    color:  #0a182a;
    font-weight: 600;
    font-family: 'Cairo';
    font-size: 26px;
  }
  .all-coarses-link{
    text-decoration: underline;
    color:  #0a182a;
  }

  .KIT-SECTION-3{
    margin-top: -800px;
      height: 40em;
      box-shadow: 0px 0px 40px 10px #000000a8;
      background:linear-gradient( 
          #006128, 
          #060e19
        ) fixed;
        background: linear-gradient(
          #006128, 
          #060e19,
          #006128, 
      
        ) fixed;
    }
    .meen-e7na h1{
      color: #FFF;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 36px;
      direction: rtl;
      line-height: 60px;
      padding-top: 80px;
      padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  position: flex;
    }
.meen-e7na h2{
padding-top: 0px;
color: #FFF;
  font-weight: 200;
font-family: 'Tajawal', sans-serif;
  font-size: 14px;
  direction: rtl;
  line-height: 26px;
  padding-left: 50px;
  padding-right: 14px;
}
.meen-e7na h3{

margin-top: 5px;
color: rgb(255, 255, 255);
  font-weight: 100;
font-family: 'Tajawal', sans-serif;
  font-size: 8px;
  text-align: center;
  line-height: 26px;
  padding-left: 30px;
  padding-right: 30px;
}


  .sponsored{
   
    opacity: 50%;
 margin-left: 10%;
 margin-top: 25%;
   

  }
  .efta2{
    padding-right: 6%;
    width: 11%;
  }
  .etsalat{
    padding-right: 6%;
    width: 18%;
  }

  .elawqaf{
    padding-right: 6%;
    width: 11%;
  }
  .el3amir{
    padding-right: 6%;
    width: 11%;
  }
.kitkitkitlogo-sponsored{
  width: 11%;
  padding-right: 6%;
}
.KIT-SECTION-4{
  padding-top: 1%;
height: 61em;
}
.INSTRUCTORS h1{
  color:  #0a182a;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 36px;
      direction: rtl;
      line-height: 60px;
      line-height: 62px;
  padding-right: 20px;
  padding-left: 40px;
  position: flex;
}
.INSTRUCTORS h2{
  text-align: right;
  color:  #0a182a;
  padding-top: 10px;
  font-weight: 200;
font-family: 'Tajawal', sans-serif;
  font-size: 17px;
  direction: rtl;
  line-height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 60px;
}

.hadeeth h3{
  
  padding-top: 0px;
  color:  #0a182a;
  font-weight: 1000;
  font-family: 'Amiri', serif;
  font-size: 27px;

text-align: center;

}
.hadeeth h4{
 margin-top: -24px;
  color:  #0a182a;
  font-weight: 1000;
  padding-top: 0px;
 text-align: center;
 font-family: 'Amiri', serif;
  font-size: 10px;
  direction: rtl;
}

.KIT-SECTION-5{
backdrop-filter: blur(10px);
  margin-top: 70px;
height: 119%;

}
.KIT-SECTION-5 P{
  color: #060e19;
  font-weight: 500;
  font-family: 'Cairo';
  font-size: 36px;
  direction: rtl;
  padding-top: 90px;
padding-right: 20px;
padding-left: 20px;
position: flex;
}
.MOMAIZAT-A{
  padding-top: 40px;
}
.MOMAIZAT-A h1{
  margin-right: 29%;
   margin-top: 0px;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 26px;
    direction: rtl;
}
.MOMAIZAT-A h2{
  margin-right: 29%;
  color: #060e19;
  font-weight: 500;
  font-family: 'Cairo';
  font-size: 13px;
  direction: rtl;
  padding-left: 12%;
}
.MOMAIZAT-A i{
  z-index: -1;
 margin-top: 1%;
  position: absolute;
  right: 7%;
  font-size: 50px;
  background:radial-gradient( 
    #060e19, 
    #3aa843
        ) fixed;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.MOMAIZAT-B{
  padding-top: 40px;
  }
  .MOMAIZAT-B h1{
    margin-right: 29%;
   margin-top: 0px;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 26px;
    direction: rtl;
  }
  .MOMAIZAT-B h2{
    margin-right: 29%;
    color: #060e19;
    font-weight: 500;
    font-family: 'Cairo';
    font-size: 13px;
    direction: rtl;
    padding-left: 12%;
 }
  .MOMAIZAT-B i{
    z-index: -1;
    margin-top: 1%;
  position: absolute;
  display: block;
  right: 7%;
    font-size: 40px;
    background:radial-gradient( 
      #060e19, 
    #3aa843
          ) fixed;
  
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
  }
  .MOMAIZAT-C{
    padding-top: 40px;
    }
    .MOMAIZAT-C h1{
      margin-right: 29%;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 26px;
      direction: rtl;
    }
    .MOMAIZAT-C h2{
      margin-right: 29%;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 13px;
      direction: rtl;
      padding-left: 12%;
    padding-bottom: 90px;
    }
    .MOMAIZAT-C i{
      z-index: -1;
      margin-top: 1%;
    position: absolute;
    display: block;
    right: 7%;
      font-size: 40px;
      background:radial-gradient( 
        #060e19, 
      #3aa843
            ) fixed;
    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
    .KIT-SECTION-7{
      text-align: center;
      height: 30em;
      margin-top: -400px;
      box-shadow: 0px 0px 20px 1px #00000062;
      background:linear-gradient( 
       
        #000000,
        #1d5522,
        #060e19
        ) fixed;
    
    }
  
.KIT-SECTION-7 h1{
text-align: center;
  color: #fff;
  padding-top: 20vh;
  font-weight: 500;
  font-family: 'Cairo';
  font-size: 29px;
} 
 .shade2{
      z-index: -3;
  bottom: 0px;
 position: fixed;
      width: 80%;
   opacity: 30%;
right: 0px;
bottom: 0px;;
    }
    .KIT-BUTTON-1{
      display: block;
      margin-left: auto;
      margin-right: auto;
   
background-color: #060e19;
    color: #fff;
      border: none;
      font-family: 'Cairo';
     font-weight: 500;
      padding: 15px 32px;
      text-align: center;
      font-size: 19px;
      cursor: pointer;
    }
    .shade3{
      margin-top: -35vh;
      margin-left: -10vh;
      width: 80%;

 margin-right: 20%;
      opacity: 1.7%;
    }
    .KIT-SECTION-8{
      height: 30EM;
      padding-top: 40px;
      direction: rtl;
    }
    .KIT-SECTION-8 a{text-decoration: none;}
    .KIT-SECTION-8 img{
      padding-bottom: 70px;
       padding-right: 15px;
       padding-top: 10px;
        width: 140px;
}
    .footer-link-1{
      padding-right: 15px;
     padding-left: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-2{
      padding-right: 15px;
      padding-top: 10px;
     padding-left: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-3{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-4{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-5{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-6{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 0px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
    }
    .footer-link-7{
      padding-right: 15px;
     padding-left: 10px;
     padding-top: 10px;
      color: #060e19;
      font-weight: 500;
      font-family: 'Cairo';
      font-size: 22px;
      direction: rtl;   
      padding-bottom: 70px;
    }
   .footer-trademark{
    padding-right: 15px;
    padding-left: 10px;
     color: #060e19;
     font-weight: 500;
     font-family: 'Cairo';
     font-size: 15px;
    direction: ltr;
  
   }
   .footer-trademark2{
    padding-right: 15px;
    padding-left: 10px;
     color: #060e19;
     font-weight: 500;
     font-family: 'Cairo';
     font-size: 15px;
direction: ltr; 
 padding-bottom: 60px;

   }
   .social-media-footer{
    align-items: center;
    color: #060e19;
    text-align: center;
    font-size: 27px;
    padding-bottom: 40px;
    padding-top: 0px;
   }
   .social-media-footer i{
    padding-right: 8px;
   }
  
.KIT-SECTION-CONTACT{
  backdrop-filter: blur(20px);
  color: #060e19;
  font-family: 'Cairo';
  line-height: 11vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 80vh;
  margin-top: 15vh;
}
.KIT-SECTION-CONTACT h2{

 font-size: 25px;
 font-weight: lighter;
}
.KIT-SECTION-CONTACT h1{
  font-weight: bolder;
  padding-bottom: 20px;
  font-size: 35px;
}
.KIT-SECTION-CONTACT h2 i{
  font-size: 30px;
  padding-right: 30px;
  background:radial-gradient( 
    #060e19, 
  #3aa843
        ) fixed;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}
   

   

   



